body {
  margin: auto;
}

.aboutUs-wrapperDiv {
  width: 400px;
  margin-right: auto;
  margin-left: auto;
}

.aboutUsTitle > img {
  width: 400px;
  height: 150px;
}

.aboutUsTitle {
  width: 400px;
  height: 100px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.aboutContent {
  display: table;
  width: 400px;
  table-layout: fixed;
  overflow: hidden;
}

.aboutPair {
  display: table-row;
  width: 400px;
  height: 150px;
  table-layout: fixed;
  overflow: hidden;
}

.aboutImages > img {
  float: left;
  width: 150px;
  height: 150px;
  display: table-cell;
  overflow: hidden;
  table-layout: fixed;
}

.aboutText {
  width: 250px;
  height: 150px;
  vertical-align: top;
  display: table-cell;
  text-align: center;
  padding: 6px;
}

.centered {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered-title {
  position: relative;
  top: 10px;
  color: rgb(215, 246, 255);
}

.aboutFooter {
  width: 400px;
  height: 20px;
}

.aboutFooter > a {
  color: blue;
}