.Comment {
  color: aliceblue;
}
.Comment-body {
  border: 2px solid aliceblue;
  border-radius: 2px;
  transition: all 0.2s ease-in-out;
}
.Comment-body:hover {
  background-color: #fc8a438e;
  transform: scale(1.02);
}

.id-time {
  margin-left: 7%;
  font-family: monospace;
}

.user-info {
  display: flex;
  flex-direction: row;
}

.user-image {
  display: block;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 0px;
  margin-top: 0px;
  margin-left: 30px;
}

.userId {
  display: block;
  margin-left: 10px;
  font-family: monospace;
}

.body {
  margin-left: 10%;
}

.id-time {
  display: flex;
  flex-direction: row;
}

.deleteButton {
  margin-left: 70%;
  margin-bottom: 10px;
  border-radius: 10px;
  font-family: monospace;
  background-color: #418ca3a4;
  color:white;
}

.previous {
  margin: auto;
  padding: 5px;
}

.like {
  display: flex;
  flex-direction: row;
}

.likeButton {
  margin-left: 5%;
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 10px;
  font-family: monospace;
  background-color: #a34841;
}

/* .likeButton {
  background-color: #a34841;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  white-space: nowrap;
  border-radius: 3px;
  text-decoration: none;
  line-height:15px;
  margin-left: 5%;
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 10px;
} */
.like span.thumb{
display:none;
}
.like:active span.normal{
display:none;
}
.like:active span.thumb{
display:block;
text-align:center;
}
.like:focus span.normal{
display:none;
}
.like:focus span.thumb{
display:block;
text-align:center;
}
.likebutton:active {
  box-shadow: 0 2px #666;
}

.comment-time {
  margin-left: 5%;
  font-family: monospace;
}