.Header-header {
  background-color: #282c34;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Header-navbar {
  width: 400px;
  height: 100px;
  color: transparent;
}

.nav-links {
  list-style: row;
  width: 100%;
  display: flex;
  justify-content: left;
  margin: 10px;
}

/* this is the icon, search, and hamburger containers (3) */
.nav-item {
  border: 2px solid transparent;

}
.logo-image > a > img {
  position: fixed;
  left: 25px;
  top: 18px;
  width: 55px;
  height: 58px;
}

/* search bar styling */
.search {
  /* width: 210px; */
  width: 53%;
  position: fixed;
  left: 95px;
  top: 20px;
}
#outlined-basic {
  background-color: rgb(215, 246, 255);
  border-radius: 5px;
}

.menu {
  position: fixed;
  right: 75px;
  top: 23px;
  height: 90px;
}