.Home {
  max-width: 100%;
}

.game-list {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
}

.game {
  width: 100px;
  height: 100px;
  padding: 10px;
  background-color: #b8eeff;
  margin: 5px;
  text-align: center;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  font-family: monospace;
  word-wrap: break-word;
  text-overflow: ellipsis;
  max-width: 100px;
  transition: all 0.2s ease-in-out;
  font-size: medium;
}

.game:hover {
  background-color: #fc9403;
  transform: scale(1.02);
}