.Megathread {
  background-color: #495263;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.gameName {
  text-align: center;
  font-size: 50px;
  font-family: "Courier New", Courier, monospace;
  color: white;
}

.post {
  background-color: #5c667a;
  margin: auto;
  width: 95%;
  padding: 15px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  height: 100%;
}

.post:hover {
  background-color: #ff6000;
  transform: scale(1.02);
}

.selfPosting {
  text-align: center;
  margin: auto;
  margin-bottom: 50px;
}