.Subthread {
  background-color: #db834c;
  text-align: left;
}

.CommentSection {
  border: 2px solid #000000;
  background-color: #5c667a;
  padding: 10px;
}

.Subthread-footer {
  padding: 20px;
  text-align: center;
  background: #5c667a;
}