body {
  margin: auto;
}

.centered {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.termsText {
  /* border: 1px solid black; */
  text-align: center;
  width: 400px;
  text-align: center;
  overflow-wrap: break-word;
  overflow: auto;
}

.termsFooter {
  position: relative;
  bottom: 0;
  width: 400px;
  height: 30px;
  text-align: center;
}

.termsFooter > a {
  color: blue;
}