body{
    margin: auto;
}

.ThreadRequest-div{
    width: 350px;
    height: 570px;
    margin: auto;
    margin-top: 10px;
    text-align: center;
}

.ThreadRequest-gameNameTextAreaDiv{
    margin-bottom: 10px;
}

.ThreadRequest-gameNameTextArea{
    position: relative;
    right: -45px;
    width: 250px;
}

.ThreadRequest-questionDiv{
    border: 1px solid black;
    border-radius: 20px;
    margin-top: 5px;
    width: 340px;
    height: 110px;
    position: relative;
    left: 4px;
}

.ThreadRequest-questonP{
    width: 300px;
    height: 35px;
    margin: auto;
    padding: 5px;
}

.ThreadRequest-questonBtns{
    width: 90px;
    position: relative;
    top: 20px;
    left: 40px;
}

.ThreadRequest-textAreaDiv{
    height: 300px;
}

.ThreadRequest-textAreaDiv > button{
    margin-top: 10px;
    width: 90px;
    height: 30px;
    line-height: 0px;
}

.ThreadRequest-textArea{
    position: relative;
    left: 20px;
    width: 300px;
    height: 180px;
}