body{
    margin: auto;
}

.Account-image{
    display: block;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: auto;
    margin-top: 20px;
}

.Account-tabDiv{
    display: flex;
    position: relative;
    left: 20px;
    top: 20px;
}

.Account-tabDiv > div{
    width: 110px;
    height: 60px;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
}

.Account-adminTab {
    text-decoration: none;
}

.Account-adminTab > p{
    color: black;
}

.Account-infoTab{
    background-color: grey;
}

.Account-infoDiv{
    width: 360px;
    height: 330px;
    border: 1px solid black;
    position: relative;
    left: 20px;
    top: 20px;
}

.Account-details{
    width: 330px;
    height: 60px;
    border: 1px solid black;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    text-align: center;
}

button{
    display: block;
    width: 200px;
    height: 30px;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    transition: 600ms;
}