body{
    margin: auto;
}

.FAQ > h3{
    text-align: center;
}

.FAQ-question1Div{
    border: 1px solid black;
    border-radius: 6px;
    width: 370px;
    height: 150px;
    margin: auto;
}

.FAQ-question1Div > p > a {
    color: black;
}

.FAQ-questionXDiv{
    border: 1px solid black;
    border-radius: 6px;
    width: 370px;
    height: 110px;
    margin: auto;
    margin-top: 10px;
}

.FAQ-questionXDiv > p > a {
    color: black;
}

.FAQ > p{
    margin-top: 3px;
    margin-left: 5px;
}
