* {
  box-sizing: border-box;
}
@font-face {
  font-family: ManropeFont;
  src: url(../public/Manrope/Manrope-VariableFont_wght.ttf);
}
a:link {
  color: black;
}

a:visited {
  color:slategrey;
}

a:hover {
  color: grey;
}

a:active {
  color: black;
}

body {
  font-family: ManropeFont;
  padding: 20px;
  background: #5C667A;
}

.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: #5C667A;
}

.leftcolumn {   
  float: left;
  width: 75%;
}

.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

.img {
  background-color: #5C667A;
  width: 100%;
  padding: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

.post {
   background: #282C35;
   padding: 20px;
   margin-top: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  padding: 20px;
  text-align: center;
  background: #5C667A;
  margin-top: 20px;
}

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}
