body{
    margin: auto;
}

.termsTitle > img{
    width: 400px;
    height: 100px;
}

.termsTitle{
    width: 400px;
    height: 100px;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.centered {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.termsText{
    text-align: center;
    width: 400px;
    height: 450px;
    border: 1px solid purple;
    text-align: center;
    overflow-wrap: break-word;
    overflow: auto;
}

.termsFooter {
    position: relative;
    bottom: 0;
    width: 400px;
    /* border: 1px solid black; */
    height: 50px;  
    text-align: center;         
}

.termsFooter > a {
    color: black;
}