body{
    margin: auto;
}

.ThreadRequest-div{
    width: 350px;
    height: 570px;
    margin: auto;
    margin-top: 10px;
    text-align: center;
}

.ThreadRequest-questionDiv{
    border: 1px solid black;
    border-radius: 20px;
    margin-top: 5px;
    width: 340px;
    height: 110px;
}

.ThreadRequest-questonP{
    width: 300px;
    height: 35px;
    margin: auto;
    padding: 5px;
}

.ThreadRequest-questonBtns{
    width: 90px;
    position: relative;
    top: 20px;
    left: 40px;
}

.ThreadRequest-textArea{
    height: 300px;
}

.ThreadRequest-textArea > button{
    margin-top: 10px;
    width: 120px;
}